.conf_rating{
  margin-top: 0%;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */

.conf_rating .jspsych-html-slider-response-container #jspsych-html-slider-response-response::-webkit-slider-runnable-track {
  background: transparent;
  border: 0;
  height: 25px;
  

}


/* thumb */

.conf_rating .jspsych-html-slider-response-container #jspsych-html-slider-response-response::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  margin-top: -1.5px;
  background: #F2F1F1;
  border: 1px solid #999999;




}


.conf_ins{
  position: absolute;
  background-color: transparent;
  height: 25px;
  border: thin solid black;
  margin-left: 25%;

}



.conf_instructions .jspsych-html-slider-response-container #jspsych-html-slider-response-response::-webkit-slider-runnable-track {
  background: transparent;
  border: 0;
  height: 25px;
  

}


.conf_instructions .jspsych-html-slider-response-container #jspsych-html-slider-response-response::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  margin-top: -1.5px;
  background: #F2F1F1;
  border: 1px solid #999999;




}


.conf{
  position: absolute;
  background-color: transparent;
  height: 25px;
  border: thin solid black;

}

#conf1{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#conf2{
  border-left: 0;
}


#conf3{
  border-left: 0;
}

#conf4{
  border-left: 0;
}


#conf5{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}



.survey{
  text-align: left;
}


